/*follows mobile first css style*/



/*everything under 768 px*/

    header.navmenu{
        /*general style for the navagation menu at the top */
        background: linear-gradient(180deg,rgb(199, 199, 199),rgb(92, 92, 92));
        color:black;
        font-size: 14px;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        padding: 0px 0px 0px 0px;
        position: sticky;
        top:0;
        border-bottom: solid 1px black;
      
    }
    
    
    .desktopnav {
        /*style for the nav menu as a whole*/
        text-align: center;
        flex-basis: 100%;
        width:80vmax;
        padding:14px 0px 14px 0px;
        margin: auto;
        display: none;
        flex-direction: row; 
        width: auto;
     }

     .mobilenav {
         /*style for the nav menu as a whole*/
         text-align: center;
         flex-basis: 100%;
         padding: 14px 0px 14px 0px;
         margin: auto;
         display: flex;
         flex-direction: row; 
         height: 16px;
         width: auto;
         
     }
    
     .divhamburgernav{
        padding: 0px;
        flex: 1;
        position: relative;
        width: auto;
    }

    .hamburgerimage{
        margin: 0px 0px 0px 0px;
        position: relative;
        top:-3px;
    }

    /*the section as a whole for the hamburger nav menu*/
    .hamburgerpopoutsection{
        display: flex; 
    }

    /* the humburger section as a whole*/
    .hamburgerpopoutmenu{
        position: fixed;
        background: linear-gradient(180deg,rgb(92, 92, 92),rgb(42, 42, 42));
        display: flex;
        flex-direction: column;
        width: 50%;
        
    }

   /*the indviduals items inside the hamburger section*/
    .hamburgerpopoutmenuitems{
            list-style-type: none;
            text-decoration:none;
            font-size: x-large;
            background-color:transparent;
            border: none;
            cursor:pointer;
            outline: none;
            border-top: solid black thin;
            /*need to add a hover effect
            background: rgb(199, 199, 199);
            */
            color: white;
            text-align: left;
            flex: 1;
            padding: 10px 0px 10px 20px;  
    }

    .firsthamburgerpopoutmenuitem{
        border-top: none;
    }

    /*the styling for when you hover over the items inside the hamburger menu*/
    .hamburgerpopoutmenuitems:hover {
            list-style-type: none;
            text-decoration:none;
            color: black;
            background: rgb(72,219,251);
    }

    .divlogo {
       flex: 9;
       position: relative;
       top: -7.5px;
       width: auto;  
    }

    .logo{
        text-align: center;
        position: relative;
        left: -25px;
    }

   .hidden{
       display: none;
   }


/*Full Screen to a little under Half screen Desktop View*/
@media (min-width: 769px) {
   
    header.navmenu{
        /*general style for the navagation menu at the top */
        background: linear-gradient(180deg,rgb(192, 192, 192),rgb(92, 92, 92));
        color:black;
        font-size: 14px;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        padding: 0px 0px 0px 0px;
        position: sticky;
        top:0;
        border-bottom: solid 1px black;
    }
    
        
    .desktopnav {
        /*style for the nav menu as a whole*/
        text-align: center;
        flex-basis: 100%;
        width:80vmax;
        padding:14px 0px 14px 0px;
        margin: auto;
        display: flex;
        flex-direction: row; 
        width: auto;
     }

     .mobilenav {
         /*style for the nav menu as a whole*/
         text-align: center;
         flex-basis: 100%;
         width:80vmax;
         padding:14px 0px 14px 0px;
         margin: auto;
         display: none;
         flex-direction: row; 
     }

    .navmenu div{
        /*style for the individual elements in the unordered list*/
       margin:auto;
       width: auto;
      padding: auto;
       text-align: center;
       
    }
    
    .navmenu a{
        /*styles the links so that their not in hyper link form*/
        text-decoration:none;
        color: black;
        
    }

    a:hover{
        /*styles the links so that they change color when you hover over them*/
        color:rgb(50, 50, 50);
    }
    
    .navmenu li:first-child {
        display:inline-flex;
       padding:0px auto 0px 0px;
       text-align: center;
    }
    
    .navmenu li:last-child {
        display:inline-flex;
       padding:0px 0px 0px auto;
       text-align: center;
    }

    .mobilenav {
        /*style for the nav menu as a whole*/
        text-align: center;
        flex-basis: 100%;
        padding: 14px 0px 14px 0px;
        margin: auto;
        display: flex;
        flex-direction: row; 
        height: 16px;
        width: auto;
        display: none;
    }
   
    .divhamburgernav{
       padding: 0px;
       flex: 1;
       position: relative;
       width: auto;
       display: none;
   }

   .hamburgerimage{
       margin: 0px 0px 0px 0px;
       position: relative;
       top:-3px;
       display: none;
   }

   /*the section as a whole for the hamburger nav menu*/
   .hamburgerpopoutsection{
       display: flex; 
       display: none;
   }

   /* the humburger section as a whole*/
   .hamburgerpopoutmenu{
       position: fixed;
       background: linear-gradient(180deg,rgb(92, 92, 92),rgb(42, 42, 42));
       display: flex;
       flex-direction: column;
       width: 50%;
       display: none;
   }

  /*the indviduals items inside the hamburger section*/
   .hamburgerpopoutmenuitems{
           list-style-type: none;
           text-decoration:none;
           font-size: x-large;
           background-color:transparent;
           border: none;
           cursor:pointer;
           outline: none;
           border-top: solid black thin;
           /*need to add a hover effect
           background: rgb(199, 199, 199);
           */
           color: white;
           text-align: left;
           flex: 1;
           padding: 10px 0px 10px 20px; 
           display: none;

   }

   .firsthamburgerpopoutmenuitem{
       border-top: none;
       display: none;

   }

   /*the styling for when you hover over the items inside the hamburger menu*/
   .hamburgerpopoutmenuitems:hover {
           list-style-type: none;
           text-decoration:none;
           color: black;
           background: rgb(72,219,251);
           display: none;

   }

   .divlogo {
      flex: 9;
      position: relative;
      top: -7.5px;
      width: auto; 
      display: none;

   }

   .logo{
       text-align: center;
       position: relative;
       left: -25px;
       display: none;

   }

  .hidden{
      display: none;
  }

}
