header.navmenu{
    /*general style for the navagation menu at the top */
    background: rgb(199, 199, 199,1);
    color:black;
    font-size: 14;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: row;
    padding: 0px 10px 0px 10px;
}

.navmenu nav{
   /*style for the nav menu as a whole*/
   list-style-type: none;
   text-align: center;
   flex-basis: 100%;
   width:auto;
   height: auto;

}
.navmenu li{
    /*style for the individual elements in the unordered list*/
   display:inline-block;
   padding:0px 45px 0px 45px;
   text-align: center;
}

.navmenu a{
    /*styles the links so that their not in hyper link form*/
    text-decoration:none;
    color: black;
    
}
a:hover{
    /*styles the links so that they change color when you hover over them*/
    color:rgb(50, 50, 50);
}

