header.navmenu{
    /*general style for the navagation menu at the top */
    background: rgb(199, 199, 199,1);
    color:black;
    font-size: 14;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.navmenu ul{
   /*style for the unorderd list as a whole*/
   list-style-type: none;
   text-align: center;
   margin: 0px 100px 0px 0px;

}
.navmenu li{
    /*style for the individual elements in the unordered list*/
   display:inline-block;
   padding:12px 100px 12px 0px;
   text-align: center;
}

.navmenu a{
    /*styles the links so that their not in hyper link form*/
    text-decoration:none;
    color: black;
    
}
a:hover{
    /*styles the links so that they change color when you hover over them*/
    color:rgb(50, 50, 50);
}

