/*general settings for our introsection*/
section.introsection{
        font-size: 26;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        border-bottom-style: solid;
        border-color: white;
        padding: 0px;
        margin: 0px;
}

/*style settings for our logo*/
.introsectionlogo img{
    display: inline-block;
    padding:0px 30px 0px 0px;
    margin:0;
    position: relative;  

}

/*style settings for title*/
.introsectiontitle h1{
    position: absolute;
    top: 45px;
    max-height: 60px;
    max-width: 2000
}

/*style settings for the unorded lists as a whole*/
.introsection ul{
    margin:0;
    padding:0px 30px 0px 30px;
    list-style-type: none;
    text-align: left;
 }

 /*general style settings for the individual items in the list*/
 .introsection li{
    display:inline-block;
 }

 /*styles for div*/
 .introsection p{
     display: block;
 }

 