section.introsection{
    /*general settings for our introsection*/
    font-size: x-large;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    border-bottom-style: solid ;
    border-width: 4px;
    border-color: white;
    padding: 0px 10px;
    margin: 0px;
    display: flex;
    flex-direction: row;
}


.introsectiontitle{
    /*style settings for title portion*/
    
    flex-direction: row;

}

.introsectiontitle h1{
    /*style settings for title*/
    
}

.playopitions {

    flex: row;
    list-style-type: none;
    text-align: left;
}

.introsection ul{
    /*style settings for the unorded lists as a whole*/
    
    list-style-type: none;
    text-align: left;
}

.introsection li{
    /*general style settings for the individual items in the list*/
    display: inline-flex;
}



 