.pullupbar {
    /*general settings for the pull up bar menu*/
    color:white;
    padding:0px;
    margin:0px;
    width:100%;
    position: fixed;
    bottom:0;
    height: 92px;
    transition: 0.5s height 0s ease-out;
    
}

.pullupbartitlesection{
    /*settings for the title section of the pull up bar as a whole*/
    display: flex;
    flex-direction: row;
    background: rgb(72,219,251);
    color:black;
    padding: 0;
    margin:0;
}

.pullupbarexplanationheader {
    /*settings for the pull up bar explanation header*/
    padding: 5px 0px 5px 10px;
    flex:2;
}

.pullupbarjavaheader{
    /*settings for the pull up bar java code header*/
    padding: 5px 10px 0px 10px;
    flex: 3;
}

.pullupbarsection{
    /*settings for the main section of the pull up bar*/
    display: flex;
    flex-direction: row;
    background: black;
    color:white;
    height: 300px; 
}

.expandpullupbarsection {
    height: 300px !important;
    transition: 0.5s height 0s ease-out;
}

.explanationsection {
    /*settings for the explanation section*/
    padding: 5px 0px 5px 10px;
    flex:2;
}



.expandexplanationsection {
    height: +300px;
    background: black;
}

.javasection{
    padding: 5px 10px 0px 10px;
    flex: 3;
    width:60%;
    border-left:solid rgb(72,219,251);
    height: auto;
}

.expandjavasection{
    height: +300px;
    background: black;
    border-left:solid rgb(72,219,251);
    

}

.pulloutbutton {
    padding:0px auto 0px auto;
    margin: 0px;
    display: flex;
    flex-direction: row;
}

.pulloutbuttonimg{
    flex: auto;
    height: 24px;
}

.pulloutbuttonimghide{
    display: none;
}

.pushinbuttonimg{
    display:none;
    height: 24px;
}

.revalpushinbutton  {
    display: inline;
    flex:auto;
}

.hidden {
    display:none;
}

.ParOverflow {
    overflow: auto; 
    height: 245px;
}