section.introsection{
    /*general settings for our introsection*/
    font-size: xx-large;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    border-bottom-style: solid ;
    border-width: 4px;
    border-color: white;
    padding: 10px 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
}

.introsectionlogo img{
    /*style settings for our logo*/
    flex:1;
    padding: 20px 10px;
    margin:0;
      

}

.introsectiontitle h1{
    /*style settings for title*/
    flex: 1;
    
}

.introsection ul{
    /*style settings for the unorded lists as a whole*/
    margin:0;
    padding:0px 30px 0px 30px;
    list-style-type: none;
    text-align: left;
}

.introsection li{
    /*general style settings for the individual items in the list*/
    display:inline-block;
}

.introsection p{
    /*styles for div*/
    display: block;
}

 