.mainsection{
    /*style for the main section*/
    display: flex;
    margin: 40px 10% 0px 10%;
    padding: 0;
    border-bottom: white solid;
}

.selectionbars{
    /*style for all selection bars as a whole*/
    flex:0;
    background: linear-gradient(rgb(72,219,251),rgb(36,110,125) )
}
.mainsectionselectionbars {
     /*style for the indiviual buttons for the different sorting items in the list of sorts*/
     font-size: x-large;
     background-color:transparent;
     border: none;
     cursor:pointer;
     outline:none;
     text-align: center;
     color:black;
     border-top: solid white;
     border-left: solid white;
     border-right: solid white;
     width: 202.5px;
     height: 112.5px;
     flex: 1;
     padding: 0px 0px 60px 0px;
}


.paragraphs {
    /*style for paragraph section as a whole*/
    display: flex;
    flex-direction: column;
    border-right: solid white;
    
}

.upperselectionparagraphs {
    border-top: solid white;
    flex:1;
    padding: 10px;
    margin: 0px;
    width: auto;
    display: flex;
    flex-direction: column;
}

.uppersubsection{
    /*all the different upper paragraphs on the main page*/
    flex:1;
    width: auto;
    
}



.hidden{
    display: none;
}

.lowerparagraph {
    border-top: solid white;
    flex:1;
    padding: 10px;
    width: auto;
}

.selectionbars a{
    /*styles the selection bar links so that their not in hyper link form*/
    text-decoration:none;
    color: black;
}

a:hover{
/*controls the style for the selection bar links when clicked*/
    width: 250px;
    height: 125px;
}


.test {
    /*let this be an example of how to dynamically size a section*/
    font-size: 20;
    color:white;
    background-color:red;
    outline: white;
    outline-style: solid;
    width: auto;
    height: auto;
    margin: 80px 5% 80px 5%;
    flex-basis: 90%;
    min-width: 800px;
    max-width: 1000px;
}
/*resource for the two column setup https://www.w3schools.com/howto/howto_css_two_columns.asp*/