/*follows mobile first format*/


/*everything under 769 px*/
/*style for the main section as a whole*/
.mainsection{
        display: flex;
        margin: 10px 2.5% 40px 2.5%;
        padding: 0;
        border-bottom: solid thin white;
        border-top: solid thin white;
        flex-direction: column;
        height: auto;
}  
/*style for all selection bars as a whole*/
.selectionbars{
    flex:1;
    background: linear-gradient(rgb(72,219,251),rgb(36,110,125) );
    display: flex;
    flex-direction: row;
       
}
    
/*style for the indiviual buttons for the different sorting items in the list of sorts*/
.mainsectionselectionbars {
    font-size: small;
    background-color:transparent;
    border: none;
    cursor:pointer;
    outline:none;
    text-align: center;
    color:black;
    border-left: solid thin white;
    border-bottom: solid thin white;
    flex: 1;
    padding: 30px 1% 30px 1%;
                
}
 
/*unique styling for the last button in the selection bar menu*/
.lastsectionselectionbars {
    border-right: solid thin white;
}


    
/*style for upper and lower paragraph section as a whole*/
.paragraphs {
        display: flex;
        flex-direction: column;
        border-right: solid thin white;
        border-left: solid thin white;
        flex: 8;
}
    
/*all unique the upper pargraph styling*/
    
/*style for the upperparagraphs as a whole*/
.upperselectionparagraphs {
    flex:1;
    padding: 0px;
    margin: 0px;
    width: auto;
    display: flex;
    flex-direction: column;
    height: 300px;
}
    
/*all the different upper paragraphs on the main page*/
.uppersubsection{
        font-size: 100%;
        padding-bottom: 3px;
        flex: 1;
        height: 100%;
        margin-left: 20px;
        margin-right: 20px;
    
}
    
/*REMEMBER TO COME BACK TO THIS YOU IDIOTS. also... spacing issue*/
.UpperSectionTitle {
    text-decoration: underline;
    font-size: x-large;
    margin: 0;
    padding: 5px 0px 5px 0px;
    height: min-content;   
}

 /*css styling for the method of sorting title*/
.MethodTitle{
    font-size: large;
    margin:0px;
    padding:5px 0px 0px 0px;
}

/*styling for the ul portion of upper paragraph sections*/
.Steps {
    margin: 0;
    list-style-type: none;
    font-size: large;
    
}

/*styling for the individual items in the steps list*/
.Steps li {
    padding: 5px 0px 0px 0px;
}

.additionalsortinginfotitle{
    margin:0px;
    padding:0px 0px 0px 0px;
    font-size: medium;
}

.additionalsortinginfo{
    margin:0; 
    font-size:medium;
}

.additionalsortinginfo li {
    padding: 5px 0px 0px 0px;
}

/*End of the unique upper pargraph styling*/
    
/*all unique lower paragraph styling*/
    
.lowerselectionparagraphs{
    /*all the lower paragraphs on the main page*/
    display: flex;
    flex-direction: row;
    flex: 1;
    width: auto;
    border-top: solid white;
    height: 300px;
}
    
.lowersubsection {
    /*styling for the individual lower paragraphs*/
    flex: 1;
    padding: 0px;
    margin: 15px;
    width: auto;
}
 /*lower section title*/     
.LowerSectionTitle {
    /*lower paragraph section title*/
    text-decoration: underline;
    font-size: x-large;
    flex: 1;
    padding: 0px 0px 10px 0px;
}
/*title for the instructional title*/    
.lowerinstructionaltitle{
    text-align: left;
    padding: 0px 0px 5px 0px;
    border-bottom: white;
}
/*the lower paragraphs headers*/
.fieldinfo{
    display: flex;
    flex-direction: row;
}
/*button header for the lower paragraph*/
.fieldinfobuttonheader{
    width: 95px;
    text-align: center;
    text-decoration: underline;
    padding: 0px 0px 10px 0px;
    font-size: 14px;
}
/*size header styling for the lower paragraphs*/
.fieldinfosizeheader{
    text-align: center;
    text-decoration: underline;
    flex: 2;
    margin: 0px 5% 0px 0px;
    padding: 0px 0px 10px 0px;
    font-size: 14px;
}
/*the lower paragraphs input sections as a whole*/
.lowerinputsubsections{
    display: flex;
    flex-direction: row;
    
}
/*the lower left subsection in the lower paragraph*/
.lowerinputleftsubsections{
    flex: 1;
    display:flex;
    flex-direction: column;
    border-right: solid  white;
    
}
/*the lower rows in left subsection in the lower paragraph*/
.lowerleftinputrow{
    display: flex;
    flex-direction: row;
    margin: 0px 10px 0px 0px; 
}
/*the text underneath the pictures*/
.lowerpicturesinfo{
    flex: 1;
    text-align: center;
    width: max-content;
    font-size: 14px;
}
/*the styling for the lower paragraph, riight subsections, input boxes*/
.homepageinputboxes_right{
    width: 75%;
    flex:1;
    height: 220px;
}
/*the styling for the lower paragraph, left subsections, input boxes*/
.homepageinputboxes_left{
    height: 85%;
    width: 90%;
    margin: 0px 0px 10px 0px;    
}
/*the div section for the input boxes*/
.randomsizebox {
        flex: 3;
       
        
}
/*the styling for the div sections containing the buttons in the lower section*/
.lowerinputbutton{
    width: 95px;
    height: 65px;
    
}
/*the lower paragraph right subsection as a whole*/
.lowerinputrightsubsections{
    flex:1;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 15px;
}

.lowerinputrightheader{
    flex:1;
    font-size: 14px;
}

/*wrapper for the text*/
.customlistwrapper{
    flex:9;
    margin: 0;
    width: auto;
   
}

/*the custom list the user can input*/
.customlist{
    height: 90%;
    width: 90%;
}

/*the button for the custom input list*/
.custominputbutton{
    background:rgb(72,219,251);
    border: white thin solid;
}

/*end of unique lower paragraph styling*/
    
/*common styling shared by multiple sections*/
.hidden{
    display: none;
}
    
.ParOverflow {
    overflow: auto; 
    width: 100%;
    height: 300px;
}

.pixelated {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
}
    
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*Full Screen to a little under Half screen Desktop View*/
@media (min-width: 769px){

/*style for the main section as a whole*/
.mainsection{
    
    border-bottom: none;
    border-top: none;
    /*remove all the border from the mobile version*/

    display: flex;
    margin: 30px 5% 30px 5%;
    padding: 0;
    border-right: white solid;
    border-bottom: white solid;
    border-top: white solid;
    flex-direction:row ;
    
}

/*style for all selection bars as a whole*/
.selectionbars{
    flex:1;
    background: linear-gradient(rgb(72,219,251),rgb(36,110,125) );
    display: flex;
    flex-direction: column;
}

/*style for the indiviual buttons for the different sorting items in the list of sorts*/
.mainsectionselectionbars {
    
    /*remove all the mobile borders*/
    border-bottom: none;
    border-left: none;

    font-size: x-large;
    background-color:transparent;
    border: none;
    cursor:pointer;
    outline:none;
    text-align: center;
    color:black;
    flex: 1;
    padding: 30px 0px 30px 0px;
    min-width: 175px;
    
    border-left: solid white;
    border-bottom: solid white;
}

/*unique styling for the last button in the selection menu*/
.lastsectionselectionbars {
    border-bottom: none;
}

/*style for upper and lower paragraph section as a whole*/
.paragraphs {

    /*remove the borders from the mobile version*/
    border: none;

    border-left: solid white;
    display: flex;
    flex-direction: column;
    flex: 8;

}

/*all unique the upper pargraph styling*/

/*style for the upperparagraphs as a whole*/
.upperselectionparagraphs {
    flex:1;
    padding: 0px;
    margin: 0px;
    width: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    
}

/*all the different upper paragraphs on the main page*/
.uppersubsection{
    font-size: 120%;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 20px 0px 20px;
    flex: 1;
    height: 300px;
}

/*the styling for the title in the upper paragraph pretaining to the type of sort it is*/
.UpperSectionTitle {
    text-decoration: underline;
    font-size: x-large;
    margin: 0;
    padding: 5px 0px 5px 0px;
    height: min-content;
    
}

/*css styling for the method of sorting title*/
.MethodTitle{
    font-size: large;
    margin:0px;
    padding:5px 0px 0px 0px;
}

/*styling for the ul portion of upper paragraph sections*/
.Steps {
    margin: 0;
    list-style-type: none;
    font-size: large;
    
}

/*styling for the individual items in the steps list*/
.Steps li {
    padding: 5px 0px 0px 0px;
}

.additionalsortinginfotitle{
    margin:0px;
    padding:0px 0px 0px 0px;
    font-size: medium;
}

.additionalsortinginfo{
    margin:0; 
    font-size:medium;
}

.additionalsortinginfo li {
    padding: 5px 0px 0px 0px;
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*End of the unique upper pargraph styling*/

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*all unique lower paragraph styling*/
/*all the lower paragraphs on the main page*/
.lowerselectionparagraphs{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: auto;
    border-top: solid white;
    height: 300px;
    
}
/*styling for the individual lower paragraphs*/
.lowersubsection {
    font-size: 120%;
    padding: 0px;
    margin: 0px 20px 0px 20px;
    flex: 1;
    height: 100%;
    
}
 /*lower section title*/
.LowerSectionTitle {
    text-decoration: underline;
    font-size: x-large;
    flex: 1;
    margin: 0;
    padding: 5px 0px 5px 0px;
    height: min-content;

}
/*title for the instructional title*/
.lowerinstructionaltitle{
    text-align: left;
    padding: 0px 0px 5px 0px;
    border-bottom: white;
}
/*the lower paragraphs headers*/
.fieldinfo{
    display: flex;
    flex-direction: row;
}
/*button header for the lower paragraph*/
.fieldinfobuttonheader{
    width: 95px;
    text-align: center;
    text-decoration: underline;
    padding: 0px 0px 10px 0px;
    font-size: 14px;
}
/*size header styling for the lower paragraphs*/
.fieldinfosizeheader{
    text-align: center;
    text-decoration: underline;
    flex: 2;
    margin: 0px 5% 0px 0px;
    padding: 0px 0px 10px 0px;
    font-size: 14px;
}
/*the lower paragraphs input sections as a whole*/
.lowerinputsubsections{
    display: flex;
    flex-direction: row;
    
}
/*the lower left subsection in the lower paragraph*/
.lowerinputleftsubsections{
    flex: 1;
    display:flex;
    flex-direction: column;
    border-right: solid  white;
    
}
/*the lower rows in left subsection in the lower paragraph*/
.lowerleftinputrow{
    display: flex;
    flex-direction: row;
    
}
/*the input button section wrapper*/
.lowerinputbutton{
    width: 90px;
}
/*the lower paragraph right subsection as a whole*/
.lowerinputrightsubsections{
    flex:1;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}
/*the text underneath the pictures*/
.lowerpicturesinfo{
    flex: 1;
    text-align: center;
    font-size: 14px;
    width: max-content;
}
/*the styling for the lower paragraph, riight subsections, input boxes*/
.homepageinputboxes_right{
    width: 75%;
    flex:1;
    height: 220px;
}
/*the styling for the lower paragraph, left subsections, input boxes*/
.homepageinputboxes_left{
    height: 85%;
    width: 90%;
    margin: 0px 0px 10px 0px; 
    
}
/*the div section for the input boxes*/
.randomsizebox {
    flex:3;
}
/*the styling for the buttons in the lower section*/
.lowerinputbutton{
    width: 95px;
    height: 65px;
    
}
/*end of all unique lower paragraph styling*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*common styling shared by multiple sections*/
.hidden{
    display: none;
}

.ParOverflow {
    overflow: auto; 
    height: 300px;
}

.pixelated {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
}

}
/*end of full screen to a little under half screen desktop view*/

 /*style for the hover effect on the buttons, desktop version*/
 /*.mainsectionselectionbars:hover {*/
    /* transform: scale(1.075);
     background: rgb(72,219,251);
     cursor:pointer;
     outline:none;
     text-align: center;
     min-width: 175px;
     flex: 1;
     box-shadow: 0 0 300px rgb(73,220,252);
     border: 5px solid white;   
 } 
  Expand bars to the right
         margin: 0px 10px 0px 0px;
*/
 

/*style for the hover effect on the buttons, mobile version*/
/*.mainsectionselectionbars:hover {*/
        
    /*         transform: scale(1.075);
            background: rgb(72,219,251);
            border: none;
            cursor:pointer;
            outline:none;
            text-align: center;
            width: 175px;
            flex: 1;
            padding: 20px 0px 20px 0px;
            box-shadow: 0 0 300px rgb(73,220,252);
            border: 5px solid white; 
     
    }
    */


/*everything below here is simnply a reference it is not actually doing anything on the main page*/
.something a{
    /*styles links so that their not in hyper link form*/
    text-decoration:none;
    color: black;
}

.test {
    /*let this be an example of how to dynamically size a section*/
    font-size: 20;
    color:white;
    background-color:red;
    outline: white;
    outline-style: solid;
    width: auto;
    height: auto;
    margin: 80px 5% 80px 5%;
    flex-basis: 90%;
    min-width: 800px;
    max-width: 1000px;
}

/*resource for the two column setup https://www.w3schools.com/howto/howto_css_two_columns.asp*/


