
        .sdparent { /* is applied to the targeted div in which the displaying is animated */
            /* not being 'static' makes sdparent the child's offsetParent, not body */
            /* see https://www.w3schools.com/css/css_positioning.asp */
            position: relative;
        }

        .sdbar { /* is applied to each bar element (the regular ones) */
            background-color: red;
            /* border: 0px solid red; */
        }

        .sdbar-text { /* is applied to each child div (contains the text on each bar) */
            text-align: center;
            font-size: 1.5em;
            width: 100%;

            position: absolute;
            /* you can try different values for bottom;
                0px makes it stay at the bottom, and 50% makes it start in the middle */
            /* bottom: 0px; */
            bottom: 50%; /* 50% is making the BOTTOM of the div start there. Hence, the trasform below */
            transform: translateY(50%); /* this affects bottom so it treats it as a vertical center */
        }

        .sdind { /* this class is applied to each 'indicator' bar element - the special ones */
            background-color: green;
            /* border: 3px solid rgba(80, 255, 80, 10); */
        }